body, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ul, ol, li, img, input, form {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  border: 0;
}

ol, ul {
  list-style: none;
}

body {
  font-size: 12px;
  color: #333;
  font-family: "microsoft yahei";
  width: 100%;
  position: relative;
}

input {
  border: 0;
  background: none;
  outline: none;
}

a {
  text-decoration: none;
  color: #333;
}

.w {
  width: 1192px;
  margin: 0 auto;
}

.l {
  float: left;
}

.r {
  float: right;
}

#topBox {
  height: 29px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ededed;
}

#top {
  height: 29px;
}
#top p {
  line-height: 29px;
  color: #333;
}
#top .p1 {
  padding-left: 14px;
  background: url("../img/index/phone_1.png") no-repeat left center;
  margin-right: 13px;
}
#top li {
  line-height: 29px;
  padding: 0 6px;
}
#top .myanngo {
  height: 29px;
  line-height: 25px;
  margin: 1px 6px 0;
  width: 97px;
  cursor: pointer;
  text-align: center;
  background: url("../img/index/top_button.png") no-repeat;
}
#top .myanngo a {
  color: #fff;
}
#top .shopCar a {
  padding-right: 12px;
}
#top .shopCar span {
  color: #ff7800;
}

#header {
  padding: 25px;
}
#header h1 {
  text-align: center;
}
#header h1 img {
  display: inline-block;
}

#nav {
  border-bottom: 3px solid #0c93f6;
  height: 35px;
}
#nav ul {
  height: 35px;
}
#nav ul li {
  line-height: 35px;
  cursor: pointer;
}
#nav ul .left {
  float: left;
  height: 35px;
  padding-left: 5px;
  background: url("../img/index/nav_left.png");
  visibility: hidden;
}
#nav ul .center {
  height: 35px;
  line-height: 35px;
  padding: 0 22px;
  float: left;
  font-size: 14px;
}
#nav ul .right {
  float: left;
  height: 35px;
  padding-right: 5px;
  background: url("../img/index/nav_right.png") right;
  visibility: hidden;
}
#nav ul li.first {
  margin-right: 5px;
}
#nav ul li.first .center {
  padding: 0 33px;
}
#nav ul li.active .left,
#nav ul li:hover .left {
  visibility: visible;
}
#nav ul li.active .center,
#nav ul li:hover .center {
  background: #0C93F6;
  color: #fff;
  font-weight: bold;
}
#nav ul li.active .right,
#nav ul li:hover .right {
  visibility: visible;
}
#nav form {
  height: 31px;
  width: 201px;
  margin-right: 5px;
  background: url("../img/index/search_15.png");
  position: relative;
}
#nav form input {
  border: none;
  outline: none;
  background: none;
  color: #999;
}
#nav form input.l {
  width: 153px;
  height: 29px;
  line-height: 29px;
  padding-left: 15px;
}
#nav form input.r {
  width: 32px;
  height: 29px;
  cursor: pointer;
}
#nav form .searchs {
  position: absolute;
  width: 166px;
  top: 31px;
  z-index: 10;
}

.searchs {
  display: none;
  height: 155px;
}
.searchs li {
  border: 1px solid #ccc;
  border-bottom: none;
  height: 30px;
}
.searchs li a {
  display: block;
  padding-left: 15px;
  line-height: 30px;
  background: #fff;
  border-bottom: 1px solid #ddd;
}
.searchs li a:hover {
  background-color: #eee;
  text-decoration: underline;
}

#notice {
  overflow: hidden;
  margin-bottom: 5px;
}
#notice span {
  height: 37px;
  width: 26px;
  background: url("../img/index/notice.png") no-repeat center center;
}
#notice li {
  height: 37px;
  line-height: 37px;
}
#notice li a {
  padding-left: 25px;
  padding-right: 13px;
  border-right: 1px solid #ccc;
}
#notice li a.try {
  background: url("../img/index/try.png") no-repeat 5px center;
}
#notice li a.basklist {
  background: url("../img/index/basklist.png") no-repeat 5px center;
}
#notice li a.mobile {
  background: url("../img/index/mobile.png") no-repeat 5px center;
  border: none;
}

#banner {
  position: relative;
  height: 400px;
  overflow: hidden;
}
#banner ul {
  position: absolute;
  width: 5120px;
  height: 400px;
}
#banner ul li {
  float: left;
}
#banner p {
  width: 100%;
  position: absolute;
  bottom: 20px;
  text-align: center;
}
#banner p a {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #CCCCCC;
  border-radius: 5px;
  margin-right: 10px;
}
#banner p a.active {
  background-color: #0c93f6;
}

#contentBox {
  padding-top: 33px;
  background: #f0fbff;
}
#contentBox .firstfloor {
  margin-top: 29px;
  padding-top: 89px;
  padding-left: 18px;
  padding-right: 36px;
  height: 400px;
  background: url("../img/index/content_pic1f.png") no-repeat;
}
#contentBox .firstfloor .item {
  padding-left: 32px;
}
#contentBox .secondfloor {
  margin-top: 20px;
  height: 906px;
  background: url("../img/index/content_pic2f.png") no-repeat;
}
#contentBox .thirdfloor {
  margin-top: 20px;
  height: 656px;
  background: url("../img/index/content_pic3f.png") no-repeat;
}

.firstfloor {
  position: relative;
}
.firstfloor .item {
  overflow: hidden;
}
.firstfloor .item a {
  display: inline-block;
  height: 35px;
  padding-left: 58px;
  padding-top: 17px;
  line-height: 18px;
  margin-right: 40px;
}
.firstfloor .item a .chinese {
  color: #666;
}
.firstfloor .item a .english {
  color: #999;
}
.firstfloor .item a:hover .chinese {
  color: #0c93f6;
}
.firstfloor .item a:hover .english {
  color: #0c93f6;
}
.firstfloor .item .active a .chinese {
  color: #0c93f6;
}
.firstfloor .item .active a .english {
  color: #0c93f6;
}
.firstfloor .item .milk a {
  width: 73px;
  background: url("../img/index/babymilk_active.png") no-repeat left;
}
.firstfloor .item .babyfood1 a {
  width: 73px;
  background: url("../img/index/babyfood.png") no-repeat left;
}
.firstfloor .item .babyfood2 a {
  width: 73px;
  background: url("../img/index/babyfood2.png") no-repeat left;
}
.firstfloor .item .babyproducts1 a {
  width: 73px;
  background: url("../img/index/babyproducts.png") no-repeat left;
}
.firstfloor .item .babyproducts2 a {
  width: 73px;
  background: url("../img/index/babyproducts2.png") no-repeat left;
}
.firstfloor .item .mommyproducts a {
  width: 73px;
  background: url("../img/index/montherproducts.png") no-repeat left;
}
.firstfloor .line {
  width: 131px;
  height: 7px;
  position: absolute;
  left: 50px;
  top: 156px;
  background: url("../img/index/hotline.png") no-repeat left;
}

.detailbox {
  height: 270px;
  padding-top: 58px;
  width: 1080px;
  position: relative;
  overflow: hidden;
}
.detailbox .item-detail {
  width: 6480px;
  position: absolute;
}

.next {
  position: absolute;
  width: 24px;
  height: 50px;
  background: url("../img/index/next.png") no-repeat left center;
  top: 280px;
  right: 60px;
}

.secondfloor {
  padding-top: 67px;
}
.secondfloor .left {
  float: left;
  width: 310px;
  overflow: hidden;
  padding: 14px 45px;
}
.secondfloor .left a {
  display: block;
}
.secondfloor .left .img-top {
  margin-bottom: 20px;
}
.secondfloor dl img {
  height: 196px;
  width: 258px;
}
.secondfloor dl p {
  text-align: center;
}
.secondfloor dl .item_title {
  line-height: 28px;
  color: #333;
}
.secondfloor dl .reason {
  line-height: 51px;
  background: url("../img/index/reason.png") no-repeat center;
  color: #58b4a8;
}
.secondfloor dl .price {
  line-height: 28px;
  color: #333;
}
.secondfloor dl .price span {
  color: #0187ea;
}
.secondfloor .change {
  width: 780px;
  overflow: hidden;
}
.secondfloor .changeBtn {
  float: right;
  display: block;
  text-align: right;
  height: 42px;
  line-height: 42px;
  padding-right: 10px;
  width: 65px;
  color: #a7a7a7;
  background: url("../img/index/change.png") no-repeat left center;
}
.secondfloor .btnbox {
  overflow: hidden;
}
.secondfloor .changeitem {
  width: 780px;
  height: 170px;
  overflow: hidden;
  position: relative;
}
.secondfloor .changeitem ul {
  width: 3120px;
  position: absolute;
}

.thirdfloor .chanceage {
  position: relative;
  left: 45px;
  top: 29px;
  width: 135px;
  height: 31px;
}
.thirdfloor .chanceage input.l {
  width: 87px;
  height: 31px;
  line-height: 31px;
  padding-left: 18px;
}
.thirdfloor .chanceage input.r {
  width: 30px;
  height: 31px;
  cursor: pointer;
}
.thirdfloor .chanceage ul {
  position: absolute;
  left: 0;
  top: 31px;
  width: 105px;
  display: none;
}
.thirdfloor .chanceage ul li {
  padding-left: 18px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #ccc;
  border-top: 0;
  background: #fff;
}
.thirdfloor .chanceage ul li:hover {
  background: #ccc;
}
.thirdfloor .classify {
  margin-top: 78px;
  width: 201px;
  float: left;
}
.thirdfloor .classify li {
  height: 51px;
  text-align: center;
  line-height: 49px;
}
.thirdfloor .classify li a {
  color: #fff;
  font-size: 16px;
}
.thirdfloor .classify li:hover {
  background: url("../img/index/recommend.png") no-repeat;
}
.thirdfloor .right {
  width: 991px;
  padding-top: 58px;
  overflow: hidden;
}
.thirdfloor .right .right-top {
  overflow: hidden;
}
.thirdfloor .right a.l {
  margin-left: 10px;
}
.thirdfloor .right .right-bot {
  width: 946px;
  margin: 0 auto;
  height: 240px;
}

.right-bot .bot-carousel {
  width: 880px;
  height: 240px;
  overflow: hidden;
  position: relative;
}
.right-bot .bot-carousel p {
  line-height: 26px;
}
.right-bot ul {
  position: absolute;
  height: 240px;
  width: 3520px;
}
.right-bot ul li {
  width: 880px;
  text-align: center;
}
.right-bot .carousel-lbtn {
  width: 28px;
  height: 240px;
  background: url("../img/index/3f_left_btn.png") no-repeat left center;
}
.right-bot .carousel-rbtn {
  width: 28px;
  height: 240px;
  background: url("../img/index/3f_right_btn.png") no-repeat left center;
}
.right-bot .price {
  color: #ff7200;
}

.links {
  height: 49px;
}
.links li {
  height: 49px;
}
.links a {
  margin-top: 12px;
  float: left;
  padding: 5px 10px;
  background: #f0fbff;
  margin-right: 8px;
  color: #208ff4;
  text-decoration: underline;
}
.links li.last a {
  margin-top: 12px;
  float: left;
  padding: 5px 0 5px 26px;
  background: url("../img/index/more.png") no-repeat left center;
  margin-right: 8px;
  color: #a7a7a7;
  text-decoration: none;
  font-size: 14px;
}

.wave {
  width: 100%;
  height: 7px;
  background: url("../img/index/wave.png") repeat-x;
}

#contentBox2 {
  background: #c4ecff;
  padding-top: 21px;
}
#contentBox2 .comment {
  height: 596px;
  background: url("../img/index/comment_bg.png") no-repeat;
}

#contentBox2 .comment-left {
  margin-left: 14px;
  margin-top: 75px;
  height: 472px;
  width: 680px;
}
#contentBox2 .carousel {
  width: 680px;
  height: 372px;
  overflow: hidden;
  position: relative;
}
#contentBox2 .carousel ul {
  position: absolute;
  width: 2720px;
  top: 0;
  left: 0;
}
#contentBox2 .carousel-left {
  width: 62px;
  height: 62px;
  position: absolute;
  top: 196px;
  left: 10px;
  z-index: 3;
  background: url("../img/index/comment_left_btn.png");
}
#contentBox2 .carousel-right {
  width: 62px;
  height: 62px;
  position: absolute;
  top: 196px;
  right: 10px;
  z-index: 3;
  background: url("../img/index/comment_right_btn.png");
}
#contentBox2 .comments {
  margin-top: 24px;
  line-height: 22px;
  min-height: 66px;
  padding: 11px 26px 0 11px;
  width: 643px;
  color: #fff;
  background: #666666;
}
#contentBox2 .comments span {
  color: #a7d942;
}
#contentBox2 .comment-right {
  padding-top: 69px;
  margin-left: 12px;
  width: 482px;
  height: 471px;
}
#contentBox2 .comment-right h2 {
  padding-left: 30px;
  font-weight: 100;
  line-height: 61px;
  font-size: 22px;
  color: #0c93f6;
  background: url("../img/index/heart.png") no-repeat 5px 24px;
}
#contentBox2 .comment-right dl {
  width: 160px;
  height: 205px;
}
#contentBox2 .comment-right .more {
  width: 66px;
  line-height: 30px;
  padding-left: 26px;
  background: url("../img/index/more.png") no-repeat left center;
  font-size: 14px;
  color: #999;
}

.comment-right dl dt {
  height: 161px;
  position: relative;
}
.comment-right dl dt span {
  display: block;
  width: 28px;
  height: 28px;
  position: absolute;
  top: 5px;
  left: 8px;
  background: url("../img/index/bask.png") no-repeat;
}
.comment-right dl dd {
  line-height: 44px;
  text-align: center;
}

.knowledge {
  margin-top: 17px;
  height: 463px;
  padding-top: 77px;
  background: url("../img/index/knowledge.png");
}
.knowledge .knowledge-left {
  width: 201px;
}
.knowledge .knowledge-left img {
  margin-left: 18px;
}
.knowledge .knowledge-left ul {
  width: 201px;
  margin-top: 13px;
}
.knowledge .knowledge-left li {
  height: 51px;
  text-align: center;
  line-height: 49px;
}
.knowledge .knowledge-left li a {
  color: #fff;
  font-size: 16px;
}
.knowledge .knowledge-left li:hover {
  background: url("../img/index/recommend.png") no-repeat;
}
.knowledge .knowledge-right {
  float: left;
  padding-top: 5px;
  padding-left: 17px;
}
.knowledge .knowledge-right .knowledge-detail {
  height: 105px;
  width: 635px;
  margin-bottom: 11px;
}
.knowledge .knowledge-right form {
  height: 54px;
  background-color: #f8f8f8;
  background-image: url("../img/index/phone.png");
  background-repeat: no-repeat;
  background-position: 16px center;
  padding-left: 48px;
}

.knowledge-right form .input-text {
  margin-right: 10px;
  margin-top: 8px;
  width: 465px;
  height: 33px;
  border: 1px solid #d6d6d6;
  background: url("../img/index/text-input.png") repeat-x;
}
.knowledge-right form .input-text input {
  height: 33px;
  line-height: 33px;
  padding-left: 10px;
  color: #999;
  width: 120px;
}
.knowledge-right form .input-text p {
  line-height: 33px;
  color: #008cd6;
}
.knowledge-right form .subtn {
  width: 99px;
  height: 34px;
  margin-top: 8px;
  background: #008cd6;
  color: #fff;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.knowledge-detail img {
  margin-top: 8px;
  margin-right: 17px;
  float: left;
}
.knowledge-detail .text {
  float: left;
  width: 472px;
}
.knowledge-detail .text h2 {
  font-size: 14px;
  background: #f8f8f8;
  height: 32px;
  border-bottom: 1px dashed #dddddd;
  line-height: 32px;
  padding-left: 17px;
}
.knowledge-detail .text h2 a {
  font-size: 12px;
  color: #999;
  font-weight: 100;
  padding-left: 26px;
  width: 50px;
  height: 32px;
  background: url("../img/index/more.png") no-repeat left center;
}
.knowledge-detail ul {
  padding-left: 5px;
}
.knowledge-detail ul li {
  padding-left: 10px;
  line-height: 24px;
  background: url("../img/index/knowledge-icon.png") no-repeat left center;
}
.knowledge-detail ul li a {
  color: #888;
}

.wave2 {
  width: 100%;
  height: 7px;
  background: url("../img/index/wave2.png") repeat-x;
}

#contentBox3 {
  background: url("../img/index/active-bg.png") repeat-x;
  overflow: hidden;
}
#contentBox3 .activity {
  position: relative;
  height: 748px;
  padding-top: 99px;
  background: url("../img/index/activity-bg.png") no-repeat;
}
#contentBox3 .activity li {
  margin-top: 10px;
  margin-left: 9px;
  margin-right: 8px;
}
#contentBox3 .activity p {
  font-size: 14px;
  color: #333;
  line-height: 30px;
}
#contentBox3 .activity p a {
  text-decoration: underline;
  color: #3ea3ff;
}
#contentBox3 .activity .anngohome {
  position: absolute;
  bottom: 50px;
  left: 622px;
}

#bottom {
  height: 100px;
  background: url("../img/index/bottom-bg.png");
}

#contentBox4 {
  height: 175px;
  background-color: #f4f4f4;
}

#webfaq .faqlogo {
  width: 239px;
  height: 175px;
  background: url(../img/index/webfaq_logo.png);
}
#webfaq .faqlist {
  width: 145px;
  height: 160px;
  padding-left: 20px;
  padding-top: 15px;
  float: left;
}
#webfaq .faqlist h2 {
  font-size: 14px;
  line-height: 27px;
}
#webfaq .faqlist li {
  line-height: 25px;
  padding-left: 7px;
  background: url(../img/index/faq_icon.png) no-repeat left center;
}
#webfaq .faqlist li a:hover {
  text-decoration: underline;
}
#webfaq .qcode {
  width: 389px;
  height: 175px;
  float: right;
  background: url(../img/index/code.png) no-repeat;
}

#footer {
  padding-top: 6px;
  height: 157px;
  overflow: hidden;
}
#footer p.flink {
  text-align: center;
  line-height: 44px;
}
#footer p.flink a {
  padding: 0 10px;
  border-right: 1px solid #000000;
}
#footer p.flink a:hover {
  text-decoration: underline;
}
#footer p.flink .last {
  border-right: 0;
}
#footer p.flinkpic {
  height: 43px;
  background: url(../img/index/footerimg.png) no-repeat;
}

#gotop {
  display: none;
  position: fixed;
  right: 0;
  top: 500px;
  width: 65px;
  height: 134px;
  border: 1px solid #e0f2f9;
}
#gotop li {
  width: 65px;
  height: 44px;
  border-bottom: 1px solid #ccc;
}
#gotop li a {
  display: block;
  width: 65px;
  height: 44px;
}
#gotop a.car {
  background: #fff url(../img/index/shopcar.png) no-repeat center center;
}
#gotop a.service {
  background: #fff url(../img/index/service.png) no-repeat center center;
}
#gotop a.gotop {
  background: #fff url(../img/index/top.png) no-repeat center center;
}

#mask {
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #000;
  opacity: 0.3;
}

#login {
  display: none;
  position: absolute;
  top: 100px;
  left: 400px;
  z-index: 101;
  width: 400px;
  background: #fff;
  border: 1p solid #ccc;
  border-radius: 3px;
}
#login .hr {
  width: 100%;
  height: 1px;
  background-color: #ccc;
}
#login h2 {
  height: 55px;
  line-height: 55px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 18px;
  font-weight: 100;
}
#login h2 span {
  float: right;
  font-size: 20px;
  cursor: pointer;
  color: #999;
}
#login form {
  padding: 15px;
}
#login form .form-group {
  height: 34px;
  font-size: 14px;
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
  text-align: right;
  padding: 0 15px;
}
.form-group #account, .form-group #pwd {
  margin-left: 15px;
  border: 1px solid #ccc;
  height: 20px;
  padding: 6px 12px;
  border-radius: 3px;
  color: #333;
  width: 200px;
}
.form-group #keep {
  margin-left: 75px;
}
.form-group #sub {
  height: 100%;
  width: 224px;
  color: #fff;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  background: #0c93f6;
  cursor: pointer;
}

.center {
  text-align: center;
}

/*# sourceMappingURL=index.css.map */
