//主页文字颜色
$font-color66:#666;
$font-color33:#333;
$font-colorff7:#ff7800;
$font-colorff:#fff;
$font-color99:#999;
$font-color0c:#0c93f6;

//主页背景颜色
$back-colorf8:#f8f8f8;
$back-colorf0:#f0fbff;
$back-colorc4:#c4ecff;
$back-colorf4:#f4f4f4;

//bodercolor
$border-color0c:#0c93f6;
$border-colorcc:#ccc;
